<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Speedlify pour Coda</title>
		<meta name="description" content="Analyse des pages web au fil du temps.">
		<meta name="generator" content="{{ eleventy.generator }}">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>
		<header>
			<h1 class="speedlify-hed"><a href="{{ '/' | url }}">speedlify</a>{% if vertical %}:{{ vertical }}{% endif %}</h1>
			<p class="speedlify-subhed">
				Analyse des {{ sites[vertical].description or "pages web" }} au fil du temps.
				{%- if sites[vertical].unordered %}
					Les résultats de cette catégorie ne sont pas triés.
				{%- endif %}
				{%- if maxResults %}
					Mises à jours <em>au plus</em> toutes les {{ sites[vertical].options.frequency or 60 }} minutes. Seuls les {{ maxResults }} derniers lancement{% if maxResults != 1 %}s{% endif %} (et le lancement le plus ancien) sont montrés.
				{%- endif %}
				Créé par <a href="https://www.zachleat.com/">@zachleat</a>.
			</p>
			<p class="speedlify-subhed">
				<a href="https://github.com/zachleat/speedlify/#deploy-to-netlify">Déployez votre propre instance de Speedlify et testez vos sites Web</a>.
			</p>
		</header>

		<main>
			{{ content | safe }}
		</main>

		<footer lang="en">
			MIT licensed. Read <a href="https://www.zachleat.com/web/speedlify/">the blog post</a>. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>.
		</footer>

		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
	</body>
</html>